# URL base da API do backend
VITE_API_BASE_URL=http://localhost:8080

# URL base do serviço ViaCEP
VITE_VIA_CEP_BASE_URL=https://viacep.com.br/ws

# Prefixo usado para as chaves de armazenamento local
VITE_STORAGE_PREFIX=@DesafioBackend
